.form-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100vh;
    /* padding: 20px; */
}

.form-class {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Set a max width for better appearance */
}

label{
    font-weight: bold;
}

.add-btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #c71919;
}

.add-btn:hover {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #8c100c;
}


.tag {
    display: inline-block;
    background-color: #E3F2FD;
    color: #D32F2F ;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}

.remove-tag {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.btn-close{
    font-size: 0.75rem;
}

.galindo-regular {
    font-family: "Galindo", serif;
    font-weight: 400;
    font-style: normal;
  }

@media (max-width: 640px) { 
    .form-container{
        margin-top: 3rem;
    }
}

/* @media (min-width: 640px ) and (max-width: 850px) { 
    .main-block{
        margin-left: 30%;
    }   
 } 
 @media (min-width: 850px) {
   
    .main-block{
        margin-left: 20%;
    }   
}  */
