<% layout('/layouts/boilerplate') %>

<div class="alert alert-success alert-dismissible fade show col-10 offset-1" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>